@import "~taro-ui/dist/style/index.scss";
@import './assets/fonts/Din';
@import './assets/fonts/NotoSans';

page {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.at-input {
    margin-left: 0;
    text-align: right;
}

.at-switch {
    padding-right: 0;
}

.hidden {
    display: none;
}