@import "~taro-ui/dist/style/index.scss";
@import './assets/fonts/Din';
@import './assets/fonts/NotoSans';

.at-input {
    margin-left: 0;
    text-align: right;
}

.at-switch {
    padding-right: 0;
}