.bookmarkicon {
    width: 47px;
    .bookmarkicon-uppersquare {
        background-color: rgb(254, 213, 83);
        height: 32px;
    }
    .bookmarkicon-semicircle {
        background-color: rgb(254, 213, 83);
        border-radius: 0 0 100px 100px;
        height: 50px;
    }
}

