$picker-font-size: 32px;

.signUpPage {
    padding: 3% 8% 10% 8%;
    flex: 1;
}

.page-title {
    margin: 7% 0;
    font-size: 1.5rem;
    font-weight: bold;
    color: rgb(70, 70, 70);
    text-align: center;
    text-transform: capitalize;
}

.picker-section {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid rgb(237, 243, 248);
  padding: 24px 0;
}

.picker-title {
  font-size: $picker-font-size;
}

.picker-value {
  font-size: $picker-font-size;
}

.submit-btn {
  position: fixed;
  bottom: 50px;
  width: 84%;
  line-height: 90px;
  border-radius: 15px;
  background: #1a1a1a;
  font-size: 38px;
  font-weight: bolder;
  color: #fff;
}

.btn {
  position: relative;
}

form button {
  padding: 0;
}

form button::after {
  content: '';
  display: none;
}