.eventDetailPage {
    padding: 0 8% 5% 8%;
}

.eventDetailPage-detailcard {
    display: flex;
    flex-direction: column;
    transform: translateY(130rpx);
    min-height: 500px;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 3px 7px 30px rgba(100, 100, 100, 0.2);
    margin-bottom: 100px;
    background-color: white;
}

.eventDetailPage-detailcard-img {
    width: 100%;
}

.eventDetailPage-detailcard-content {
    padding: 6% 8%;
    .eventDetailPage-detailcard-titlesection {
        transform: translateX(-10px);
        display: flex;
        font-family: 'DIN';
        color: rgb(40, 40, 40);
        font-weight: bold;
        margin-bottom: 30px;
        .detailcard-title {
            font-size: 1.1rem;
            margin-bottom: 15px;
        }
        .detailcard-subtitle {
          font-size: 1rem;
        }
    }
    .eventDetailPage-detailcard-timeplace {
        color: rgb(143, 144, 145);
        font-size: 0.8rem;
        margin-bottom: 30px;
        .detailcard-time, .detailcard-address {
            display: flex;
            align-items: center;
            margin: 10px 0;
            .detailcard-info-heading {
                display: flex;
                flex-wrap: nowrap;
                font-weight: 500;
                color: rgb(100, 100, 100);
                margin-right: 20px;
                text {
                    margin-left: 5px;
                }
            }
        }
    }
    .eventDetailPage-detailcard-desc {
        color: rgb(127, 128, 131);
        font-size: 0.8rem;
    }
}

.gradient-stick-section {
    display: flex;
    align-items: center;
    .gradient-stick {
        height: 85%;
        width: 7px;
        background-image: linear-gradient(120deg, rgb(254, 213, 83) 45%, rgb(252, 78, 159) 55%);
        margin-right: 15px;
    }
}

.eventDetailPage-detailcard-btnGroup {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8% 3% 3% 3%;
    .at-icon {
        font-size: 1.6rem;
    }
    .signup-btn {
        display:flex;
        justify-content:center;
        align-items:center;
        height: 130px;
        width: 130px;
        border-radius: 50%;
        box-shadow: 3px 5px 30px rgba(156, 156, 156, 0.3);
        font-weight: bold;
        color: rgb(71, 71, 71);
    }
    button[plain] {
      border: none;
      margin: 0;
      padding: 0;
    }
}