.supportPage {
  flex: 1;
  padding: 5% 8%;
  color: rgb(71, 71, 71);
  // background-color: rgb(236, 240, 243);
}

.supportPage-heading {
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 10px;
}
