.latestEventPage {
    flex: 1;
}

.latestEventPage-carousel {
    transform: translateY(110rpx);
    padding: 0 8% 17% 8%;
}

.latestEventPage-eventlist-heading {
    text-align: center;
    margin: 10% 0 2% 0;
    display: flex;
    justify-content: center;
}

.latestEventPage-eventlist-title {
    padding: 0 5%;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.latestEventPage-eventlist {
    width: 100%;
    padding: 5% 4%;
    display: flex;
    flex-direction: row;
    view {
        margin-right: 2%;
    }
}

.latestEventPage-eventlistitem {
    width: 47%;
    flex: none;
}