.carousel {
    border-radius: 15px;
    box-shadow: 3px 7px 20px rgba(41, 41, 41, 0.781);
    overflow: hidden;

}

.carousel-swiper {
    min-height: 380px;
}

// .carousel-swiperitem {
// //   overflow: hidden;
// }

// .demo-text {
//     // overflow: hidden;
// }