.admin-eventlist {
  padding: 3% 5%;
}

.admin-event {
  display: flex;
  margin-bottom: 5%;
}

.admin-event-card {
  flex: 1;
}

.admin-btn-group {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 7%;
}

.edit-icon {
  font-size: 50px;
  color: rgb(48, 58, 78);
}

.delete-icon {
  font-size: 50px;
  color: red;
}