.browsePrinterPage {
    flex: 1;
}

.printer-swiper {
    height: 60%;
}

.printer-swiper-item {
    // width: 80% !important;
}

.printer-swiper-item-content {
    background-color: rgb(234, 234, 234);
    border-radius: 15px;
    padding: 8%;
    margin: 0 5%;
}

.printer-img {
    width: 100%;
}

.printer-intro {
    font-weight: bold;
}

.printer-detail {
    font-size: 0.7rem;
}