.browsePrinterPage {
    flex: 1;
}

.printer-swiper {
    height: 100%;
}

.swipe-hint {
    position: absolute;
    right: 4%;
    top: 30%;
    z-index: 5;
    font-size: 2.2rem;
    color: rgb(67, 33, 97);
}