.adminHomePage-title {
    text-align: center;
    font-size: 1.3rem;
    font-weight: bold;
    margin: 5% 0;
}

.adminHomePage-btnGroup {
    padding: 5%;
    view {
        margin-bottom: 3%;
    }
}